<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="desciption" content="La comodidad también se ve bien. Te invitamos a que conozcas nuestra ropa. Tenemos locura por el Surf, y también somos cancherxs.">
    <meta name="keywords" content="tienda online, ropa, accesorios, surf, ropa de surf, accesorios de surf, comodidad,">
    <meta name="author" content="Patricio Silverii">
    <meta name="copyright" content="Wave">
    <script src="https://kit.fontawesome.com/5177fc7a42.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Botas de Neoprene | Wave | Ropa y accesorios de Surf</title>
</head>

<body>
    <header>
        <nav>
            <ul class="header__account">
                <li class="header__account--align">
                    <a class="header__account--btn" href="./log-in.html">Crear Cuenta</a>
                </li>
                <li class="header__account--align">
                    <a class="header__account--btn" href="./log-in.html">Iniciar Sesión</a>
                </li>
            </ul>
            <section class="nav__mobile">
                <label for="check__mobile">
                    <p class="nav__btn__mobile--icon">menu</p>
                </label>
                <input type="checkbox" id="check__mobile">
                <ul class="nav__menu__mobile">
                    <li>
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="./pantalones.html">Pantalones</a>
                    </li>
                    <li>
                        <a href="./remeras.html">Remeras</a>
                    </li>
                    <li>
                        <a href="./buzos.html">Buzos</a>
                    </li>
                    <li>
                        <a href="./zapatillas.html">Zapatillas</a>
                    </li>
                    <li>
                        <a href="./neoprene.html">Neoprene</a>
                    </li>
                    <li>
                        <a class="active" href="./botas.html">Botas Neoprene</a>
                    </li>
                    <li>
                        <a href="./lycras.html">Lycras</a>
                    </li>
                    <li>
                        <a href="./fundas.html">Fundas para tablas de Surf</a>
                    </li>
                    <li>
                        <a href="./contactanos.html">Contactanos</a>
                    </li>
                </ul>
                <div class="nav__btn__mobile">
                    <label for="check__search__mobile">
                        <p class="nav__btn__mobile--icon no__margin">search</p>
                    </label>
                    <input type="checkbox" id="check__search__mobile">
                    <ul class="nav__btn__search__mobile">
                        <li>
                            <input class="nav__btn__search__mobile--input" type="text" placeholder="Buscar">
                        </li>
                    </ul>
                    <label for="check__cart__mobile">
                        <p class="nav__btn__mobile--icon">shopping_cart</p>
                    </label>
                    <input type="checkbox" id="check__cart__mobile">
                    <ul class="nav__btn__cart__mobile">
                        <li>
                            <p>Aún no tienes nada en tu carrito</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="nav__desktop">
                <picture class="nav__desktop--logo">
                    <img src="../assets/img/logo-xs.png" alt="logo">
                </picture>
                <ul class="nav__desktop__btn">
                    <li class="nav__desktop__btn--align">
                        <a class="nav__desktop__btn--text" href="../index.html">Home</a>
                    </li>
                    <li class="nav__desktop__btn--text nav__desktop__btn--align">
                        <label class="nav__desktop__btn--pointer" for="check__desktop">Tienda Online</label>
                        <input type="checkbox" id="check__desktop">
                        <ul class="nav__desktop__menu">
                            <li>
                                <a class="nav__desktop__menu--text" href="./pantalones.html">Pantalones</a>
                            </li>
                            <li>
                                <a class="nav__desktop__menu--text" href="./remeras.html">Remeras</a>
                            </li>
                            <li>
                                <a class="nav__desktop__menu--text" href="./buzos.html">Buzos</a>
                            </li>
                            <li>
                                <a class="nav__desktop__menu--text" href="./zapatillas.html">Zapatillas</a>
                            </li>
                            <li>
                                <a class="nav__desktop__menu--text" href="./neoprene.html">Neoprene</a>
                            </li>
                            <li>
                                <a class="nav__desktop__menu--text active" href="./botas.html">Botas Neoprene</a>
                            </li>
                            <li>
                                <a class="nav__desktop__menu--text" href="./lycras.html">Lycras</a>
                            </li>
                            <li>
                                <a class="nav__desktop__menu--text" href="./fundas.html">Fundas para tablas de Surf</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__desktop__btn--align">
                        <a class="nav__desktop__btn--text" href="./contactanos.html">Contactanos</a>
                    </li>
                </ul>
                <div class="nav__btn__desktop">
                    <label for="check__search__desktop">
                        <p class="nav__btn__desktop--icon no__margin">search</p>
                    </label>
                    <input type="checkbox" id="check__search__desktop">
                    <ul class="nav__btn__search__desktop">
                        <li>
                            <input class="nav__btn__search__desktop--input" type="text" placeholder="Buscar">
                        </li>
                    </ul>
                    <label for="check__cart__desktop">
                        <p class="nav__btn__desktop--icon">shopping_cart</p>
                    </label>
                    <input type="checkbox" id="check__cart__desktop">
                    <ul class="nav__btn__cart__desktop">
                        <li>
                            <p>Aún no tienes nada en tu carrito</p>
                        </li>
                    </ul>
                </div>
            </section>
        </nav>
    </header>

    <main>
        <picture class="main-header">
            <picture class="main-header">
                <img class="header-img--mobile" src="../assets/img/products/botas/banner/banner-botas-xs.jpg" alt="foto-de-surf">
                <img class="header-img--tablet" src="../assets/img/products/botas/banner/banner-botas-md.jpg" alt="foto-de-surf">
                <img class="header-img--desktop" src="../assets/img/products/botas/banner/banner-botas-hd.jpg" alt="foto-de-surf">
            </picture>
        </picture>
        <section class="pants">
            <div class="filtro__desktop">
                <h3>Filtrar por</h3>
                <div class="filtro__desktop--container">
                    <div class="filtro__type">Color</div>
                    <label class="filtro__checkbox">
                        <input class="checkbox__none" type="checkbox">
                        <div class="filtro__checkbox__item">
                            <div class="filtro__color">Negro</div>
                            <div class="filtro__circulo circulo__background--negro"></div>
                        </div>
                    </label>
                    <label class="filtro__checkbox">
                        <input class="checkbox__none" type="checkbox">
                        <div class="filtro__checkbox__item">
                            <div class="filtro__color">Violeta</div>
                            <div class="filtro__circulo circulo__background--violeta"></div>
                        </div>
                    </label>
                    <label class="filtro__checkbox">
                        <input class="checkbox__none" type="checkbox">
                        <div class="filtro__checkbox__item">
                            <div class="filtro__color">Verde</div>
                            <div class="filtro__circulo circulo__background--verde"></div>
                        </div>
                    </label>
                    <label class="filtro__checkbox">
                        <input class="checkbox__none" type="checkbox">
                        <div class="filtro__checkbox__item">
                            <div class="filtro__color">Rojo</div>
                            <div class="filtro__circulo circulo__background--rojo"></div>
                        </div>
                    </label>
                    <label class="filtro__checkbox">
                        <input class="checkbox__none" type="checkbox">
                        <div class="filtro__checkbox__item">
                            <div class="filtro__color">Amarillo</div>
                            <div class="filtro__circulo circulo__background--amarillo"></div>
                        </div>
                    </label>
                    <label class="filtro__checkbox">
                        <input class="checkbox__none" type="checkbox">
                        <div class="filtro__checkbox__item">
                            <div class="filtro__color">Marron</div>
                            <div class="filtro__circulo circulo__background--marron"></div>
                        </div>
                    </label>
                    <label class="filtro__checkbox">
                        <input class="checkbox__none" type="checkbox">
                        <div class="filtro__checkbox__item">
                            <div class="filtro__color">Naranja</div>
                            <div class="filtro__circulo circulo__background--naranja"></div>
                        </div>
                    </label>
                    <label class="filtro__checkbox">
                        <input class="checkbox__none" type="checkbox">
                        <div class="filtro__checkbox__item">
                            <div class="filtro__color">Azul</div>
                            <div class="filtro__circulo circulo__background--azul"></div>
                        </div>
                    </label>
                    <label class="filtro__checkbox">
                        <input class="checkbox__none" type="checkbox">
                        <div class="filtro__checkbox__item">
                            <div class="filtro__color">Gris</div>
                            <div class="filtro__circulo circulo__background--gris"></div>
                        </div>
                    </label>
                    <label class="filtro__checkbox">
                        <input class="checkbox__none" type="checkbox">
                        <div class="filtro__checkbox__item">
                            <div class="filtro__color">Blanco</div>
                            <div class="filtro__circulo circulo__background--blanco"></div>
                        </div>
                    </label>
                    <label class="filtro__checkbox">
                        <input class="checkbox__none" type="checkbox">
                        <div class="filtro__checkbox__item">
                            <div class="filtro__color">Celeste</div>
                            <div class="filtro__circulo circulo__background--celeste"></div>
                        </div>
                    </label>
                </div>
                <div class="filtro__desktop--container">
                    <div class="filtro__type">Talle</div>
                    <label class="filtro__checkbox">
                        <input class="checkbox__none" type="checkbox">
                        <div>
                            <div>XXXL</div>
                        </div>
                    </label>
                    <label class="filtro__checkbox">
                        <input class="checkbox__none" type="checkbox">
                        <div>
                            <div>XXL</div>
                        </div>
                    </label>
                    <label class="filtro__checkbox">
                        <input class="checkbox__none" type="checkbox">
                        <div>
                            <div>XL</div>
                        </div>
                    </label>
                    <label class="filtro__checkbox">
                        <input class="checkbox__none" type="checkbox">
                        <div>
                            <div>L</div>
                        </div>
                    </label>
                    <label class="filtro__checkbox">
                        <input class="checkbox__none" type="checkbox">
                        <div>
                            <div>M</div>
                        </div>
                    </label>
                    <label class="filtro__checkbox">
                        <input class="checkbox__none" type="checkbox">
                        <div>
                            <div>S</div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="product__tittle">
                <h1>Botas de Neoprene</h1>
            </div>
            <div class="product__img grid__one">
                <a href="./model.html">
                    <img src="../assets/img/products/pantalones/jean-skinny-washed-blue/mbdenskw-a-31-6abdf583476ce9418f16485852117817-640-0.jpg" alt="foto-de-pantalon-jean-skinny-washed-blue">
                </a>
            </div>
            <div class="product__text grid__two">
                <a href="./model.html">
                    <p>Jean Skinny Washed Blue | $10.999</p>
                </a>
            </div>
            <div class="product__img grid__three">
                <a href="./model.html">
                    <img src="../assets/img/products/pantalones/jogger-cargo/11128305-j-11-6375799674e2a78fb216515002948587-640-0.jpg" alt="foto-de-pantalon-jogger-cargo">
                </a>
            </div>
            <div class="product__text grid__four">
                <a href="./model.html">
                    <p>Jogger Cargo | $12.499</p>
                </a>
            </div>
            <div class="product__img grid__five">
                <a href="./model.html">
                    <img src="../assets/img/products/pantalones/jogger-pant/eaf6shkw1-a3b6cea176b0d21ebf16486527219996-1024-1024.jpeg" alt="foto-de-pantalon-jogger-pant">
                </a>
            </div>
            <div class="product__text grid__six">
                <a href="./model.html">
                    <p>Jogger Pant | $11.499</p>
                </a>
            </div>
            <div class="product__img grid__seven">
                <a href="./model.html">
                    <img src="../assets/img/products/pantalones/vintage-blue-denim/11128303-a_11-35902b755d2704cd7316486664564605-640-0.jpg" alt="foto-de-pantalon-vintage-blue-denim">
                </a>
            </div>
            <div class="product__text grid__eight">
                <a href="./model.html">
                    <p>Vintage Blue Denim | $11.999</p>
                </a>
            </div>
            <div class="product__img grid__nine">
                <a href="./model.html">
                    <img src="../assets/img/products/pantalones/jean-skinny-washed-blue/mbdenskw-a-31-6abdf583476ce9418f16485852117817-640-0.jpg" alt="foto-de-pantalon-jean-skinny-washed-blue">
                </a>
            </div>
            <div class="product__text grid__ten">
                <a href="./model.html">
                    <p>Jean Skinny Washed Blue | $10.999</p>
                </a>
            </div>
            <div class="product__img grid__eleven">
                <a href="./model.html">
                    <img src="../assets/img/products/pantalones/jogger-cargo/11128305-j-11-6375799674e2a78fb216515002948587-640-0.jpg" alt="foto-de-pantalon-jogger-cargo">
                </a>
            </div>
            <div class="product__text grid__twelve">
                <a href="./model.html">
                    <p>Jogger Cargo | $12.499</p>
                </a>
            </div>
            <div class="product__img grid__thirteen">
                <a href="">
                    <img src="../assets/img/products/pantalones/jogger-pant/eaf6shkw1-a3b6cea176b0d21ebf16486527219996-1024-1024.jpeg" alt="foto-de-pantalon-jogger-pant">
                </a>
            </div>
            <div class="product__text grid__fourteen">
                <a href="./model.html">
                    <p>Jogger Pant | $11.499</p>
                </a>
            </div>
            <div class="product__img grid__fifteen">
                <a href="./model.html">
                    <img src="../assets/img/products/pantalones/vintage-blue-denim/11128303-a_11-35902b755d2704cd7316486664564605-640-0.jpg" alt="foto-de-pantalon-vintage-blue-denim">
                </a>
            </div>
            <div class="product__text grid__sixteen">
                <a href="./model.html">
                    <p>Vintage Blue Denim | $11.999</p>
                </a>
            </div>
        </section>
        <section class="banner">
            <div class="banner__item--mobile">
                <div class="banner__item__icon">
                    <div class="banner__item__icon__container">
                        <p class="banner__item__icon__material-icons">credit_card</p>
                    </div>
                </div>
                <div class="banner__item__text">
                    <a href="#bottom">
                        <h4 class="banner__item__text--h4">HASTA 12 CUOTAS SIN INTERES</h4>
                        <small class="banner__item__text--info">En todos los productos</small>
                    </a>
                </div>
            </div>
            <div class="banner__item">
                <div class="banner__item__icon">
                    <div class="banner__item__icon__container">
                        <p class="banner__item__icon__material-icons">sync</p>
                    </div>
                </div>
                <div class="banner__item__text">
                    <a href="./contactanos.html">
                        <h4 class="banner__item__text--h4">DEVOLUCIONES GRATUITAS</h4>
                        <small class="banner__item__text--info">Dentro de los primeros 30 días de recibir el producto</small>
                    </a>
                </div>
            </div>
            <div class="banner__item--tablet">
                <div class="banner__item__icon">
                    <div class="banner__item__icon__container">
                        <p class="banner__item__icon__material-icons">local_shipping</p>
                    </div>
                </div>
                <div class="banner__item__text">
                    <a href="#bottom">
                        <h4 class="banner__item__text--h4">ENVIOS GRATIS A TODO EL PAIS</h4>
                        <small class="banner__item__text--info">Si tu compra supera los $12.000</small>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <footer id="bottom" class="footer">
        <section class="footer--container">
            <div class="footer__info">
                <div class="footer__info--text">
                    <a href="#bottom"></a>
                    <h4 class="footer__info--h4">Indumentaria</h4>
                    <ul class="footer__info--list">
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./remeras.html">Remeras</a>
                        </li>
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./buzos.html">Buzos</a>
                        </li>
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./pantalones.html">Pantalones</a>
                        </li>
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./zapatillas.html">Zapatillas</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__mobile__info--text">
                    <h4 class="footer__info--h4">Sobre Nosotres</h4>
                    <ul class="footer__info--list">
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./quienes-somos.html">Quienes Somos</a>
                        </li>
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./terminos-condiciones.html">Términos y Condiciones</a>
                        </li>
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./politicas-devolucion.html">Políticas de Devolución y Reembolso</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__info--text">
                    <h4 class="footer__info--h4">Surf</h4>
                    <ul class="footer__info--list">
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./neoprene.html">Neoprene</a>
                        </li>
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./botas.html">Botas Neoprene</a>
                        </li>
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./lycras.html">Lycras</a>
                        </li>
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./fundas.html">Fundas para tablas de Surf</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__social--mobile">
                <a href="https://www.instagram.com/">
                    <div class="footer__social__circle--insta">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </a>
                <a href="https://twitter.com/">
                    <div class="footer__social__circle--twitter">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </a>
                <a href="./contactanos.html">
                    <div class="footer__social__circle--email">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                </a>
            </div>
            <div class="footer__copyright">
                <p>© 2022 WAVE | Todos los derechos reservados | Desarrollo Web: 
                    <a href="https://www.linkedin.com/in/patricio-silverii">Patricio Silverii</a>
                </p>
            </div>
        </section>
    </footer>
</body>
</html>