<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="desciption" content="La comodidad también se ve bien. Te invitamos a que conozcas nuestra ropa. Tenemos locura por el Surf, y también somos cancherxs.">
    <meta name="keywords" content="tienda online, ropa, accesorios, surf, ropa de surf, accesorios de surf, comodidad,">
    <meta name="author" content="Patricio Silverii">
    <meta name="copyright" content="Wave">
    <script src="https://kit.fontawesome.com/5177fc7a42.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Contactanos | Wave | Ropa y accesorios de Surf</title>
</head>

<body>
    <header>
        <nav>
            <ul class="header__account">
                <li class="header__account--align">
                    <a class="header__account--btn" href="./log-in.html">Crear Cuenta</a>
                </li>
                <li class="header__account--align">
                    <a class="header__account--btn" href="./log-in.html">Iniciar Sesión</a>
                </li>
            </ul>
            <section class="nav__mobile">
                <label for="check__mobile">
                    <p class="nav__btn__mobile--icon">menu</p>
                </label>
                <input type="checkbox" id="check__mobile">
                <ul class="nav__menu__mobile">
                    <li>
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="./pantalones.html">Pantalones</a>
                    </li>
                    <li>
                        <a href="./remeras.html">Remeras</a>
                    </li>
                    <li>
                        <a href="./buzos.html">Buzos</a>
                    </li>
                    <li>
                        <a href="./zapatillas.html">Zapatillas</a>
                    </li>
                    <li>
                        <a href="./neoprene.html">Neoprene</a>
                    </li>
                    <li>
                        <a href="./botas.html">Botas Neoprene</a>
                    </li>
                    <li>
                        <a href="./lycras.html">Lycras</a>
                    </li>
                    <li>
                        <a href="./fundas.html">Fundas para tablas de Surf</a>
                    </li>
                    <li>
                        <a class="active" href="./contactanos.html">Contactanos</a>
                    </li>
                </ul>
                <div class="nav__btn__mobile">
                    <label for="check__search__mobile">
                        <p class="nav__btn__mobile--icon no__margin">search</p>
                    </label>
                    <input type="checkbox" id="check__search__mobile">
                    <ul class="nav__btn__search__mobile">
                        <li>
                            <input class="nav__btn__search__mobile--input" type="text" placeholder="Buscar">
                        </li>
                    </ul>
                    <label for="check__cart__mobile">
                        <p class="nav__btn__mobile--icon">shopping_cart</p>
                    </label>
                    <input type="checkbox" id="check__cart__mobile">
                    <ul class="nav__btn__cart__mobile">
                        <li>
                            <p>Aún no tienes nada en tu carrito</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="nav__desktop">
                <picture class="nav__desktop--logo">
                    <img src="../assets/img/logo-xs.png" alt="logo">
                </picture>
                <ul class="nav__desktop__btn">
                    <li class="nav__desktop__btn--align">
                        <a class="nav__desktop__btn--text" href="../index.html">Home</a>
                    </li>
                    <li class="nav__desktop__btn--text nav__desktop__btn--align">
                        <label class="nav__desktop__btn--pointer" for="check__desktop">Tienda Online</label>
                        <input type="checkbox" id="check__desktop">
                        <ul class="nav__desktop__menu">
                            <li>
                                <a class="nav__desktop__menu--text" href="./pantalones.html">Pantalones</a>
                            </li>
                            <li>
                                <a class="nav__desktop__menu--text" href="./remeras.html">Remeras</a>
                            </li>
                            <li>
                                <a class="nav__desktop__menu--text" href="./buzos.html">Buzos</a>
                            </li>
                            <li>
                                <a class="nav__desktop__menu--text" href="./zapatillas.html">Zapatillas</a>
                            </li>
                            <li>
                                <a class="nav__desktop__menu--text" href="./neoprene.html">Neoprene</a>
                            </li>
                            <li>
                                <a class="nav__desktop__menu--text" href="./botas.html">Botas Neoprene</a>
                            </li>
                            <li>
                                <a class="nav__desktop__menu--text" href="./lycras.html">Lycras</a>
                            </li>
                            <li>
                                <a class="nav__desktop__menu--text" href="./fundas.html">Fundas para tablas de Surf</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__desktop__btn--align">
                        <a class="nav__desktop__btn--text" href="./contactanos.html">Contactanos</a>
                    </li>
                </ul>
                <div class="nav__btn__desktop">
                    <label for="check__search__desktop">
                        <p class="nav__btn__desktop--icon no__margin">search</p>
                    </label>
                    <input type="checkbox" id="check__search__desktop">
                    <ul class="nav__btn__search__desktop">
                        <li>
                            <input class="nav__btn__search__desktop--input" type="text" placeholder="Buscar">
                        </li>
                    </ul>
                    <label for="check__cart__desktop">
                        <p class="nav__btn__desktop--icon">shopping_cart</p>
                    </label>
                    <input type="checkbox" id="check__cart__desktop">
                    <ul class="nav__btn__cart__desktop">
                        <li>
                            <p>Aún no tienes nada en tu carrito</p>
                        </li>
                    </ul>
                </div>
            </section>
        </nav>
    </header>

    <main>
        <section>
            <div class="contactanos__form">
                <div class="contactanos__tittle">
                    <h1>Contactanos</h1>
                </div>
                <p class="contactanos__subtittle">Sacate la duda que quieras o hacé tus reclamos</p>
                <form>
                    <div class="contactanos__form__group">
                        <label class="contactanos__form__label">Nombre</label>
                        <input class="contactanos__form__input" type="text" placeholder="Carla Gutierrez">
                    </div>
                    <div class="contactanos__form__group">
                        <label class="contactanos__form__label">Email</label>
                        <input class="contactanos__form__input" type="text" placeholder="nombre@email.com">
                    </div>
                    <div class="contactanos__form__group">
                        <label class="contactanos__form__label">Teléfono</label>
                        <input class="contactanos__form__input" type="text" placeholder="1124547898">
                    </div>
                    <div class="contactanos__form__group">
                        <label class="contactanos__form__label">Asunto</label>
                        <input class="contactanos__form__input" type="text" placeholder="Título de la consulta">
                    </div>
                    <div class="contactanos__form__group">
                        <label class="contactanos__form__label">Mensaje</label>
                        <textarea class="contactanos__form__input" name="Consultas" id="" cols="30" rows="10"></textarea>
                    </div>
                    <input class="contactanos__btn" type="submit" value="Enviar">
                </form>
            </div>
        </section>
    </main>

    <footer id="bottom" class="footer">
        <section class="footer--container">
            <div class="footer__info">
                <div class="footer__info--text">
                    <a href="#bottom"></a>
                    <h4 class="footer__info--h4">Indumentaria</h4>
                    <ul class="footer__info--list">
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./remeras.html">Remeras</a>
                        </li>
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./buzos.html">Buzos</a>
                        </li>
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./pantalones.html">Pantalones</a>
                        </li>
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./zapatillas.html">Zapatillas</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__mobile__info--text">
                    <h4 class="footer__info--h4">Sobre Nosotres</h4>
                    <ul class="footer__info--list">
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./quienes-somos.html">Quienes Somos</a>
                        </li>
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./terminos-condiciones.html">Términos y Condiciones</a>
                        </li>
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./politicas-devolucion.html">Políticas de Devolución y Reembolso</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__info--text">
                    <h4 class="footer__info--h4">Surf</h4>
                    <ul class="footer__info--list">
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./neoprene.html">Neoprene</a>
                        </li>
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./botas.html">Botas Neoprene</a>
                        </li>
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./lycras.html">Lycras</a>
                        </li>
                        <li class="footer__info--items">
                            <a class="footer__info--a" href="./fundas.html">Fundas para tablas de Surf</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__social--mobile">
                <a href="https://www.instagram.com/">
                    <div class="footer__social__circle--insta">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </a>
                <a href="https://twitter.com/">
                    <div class="footer__social__circle--twitter">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </a>
                <a href="./contactanos.html">
                    <div class="footer__social__circle--email">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                </a>
            </div>
            <div class="footer__copyright">
                <p>© 2022 WAVE | Todos los derechos reservados | Desarrollo Web: 
                    <a href="https://www.linkedin.com/in/patricio-silverii">Patricio Silverii</a>
                </p>
            </div>
        </section>
    </footer>
</body>
</html>