.about-us {
    @include flex-col;
    margin-top: 100px;
}

.about-us h1 {
    font-family: $font;
    color: $black;
    font-size: 20px;
    margin: 2% 6% 2% 6%;
    text-align: center;
    border-bottom: 1px solid $black;
}

.about-us p {
    font-family: $font;
    color: $black;
    font-size: 17px;
    line-height: 30px;
    margin: 0 8% 8% 8%;
    text-align: justify;
}

.about-us h2 {
    font-family: Raleway;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 2% 6% 2% 6%;
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
}

/* DESKTOP CONTACTANOS */
@media screen and (min-width: 1024px) {

    .about-us {
        @include flex-col;
        margin-top: 100px;
    }

    .about-us h1 {
        font-family: Raleway;
        color: rgb(0, 0, 0);
        font-size: 20px;
        margin: 2% 6% 2% 6%;
        padding-left: 5%;
        padding-bottom: 2%;
        text-align: left;
        border-bottom: 1px solid rgb(0, 0, 0);
    }

    .about-us p {
        font-family: Raleway;
        color: rgb(0, 0, 0);
        font-size: 17px;
        line-height: 30px;
        margin: 0 8% 8% 8%;
        text-align: justify;
    }

    .about-us h2 {
        font-family: Raleway;
        color: rgb(0, 0, 0);
        font-size: 20px;
        margin: 2% 6% 2% 6%;
        padding-left: 5%;
        padding-bottom: 2%;
        text-align: left;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
}